.idea/
.DS_Store
.vscode
npm-debug.log*
node_modules/
dist/

android/*.iml
android/.gradle
android/.idea
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.DS_Store
android/build
android/captures
